<?xml version='1.0' encoding='utf-8'?>
<widget id="in.discom.feeder.survey" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>DISCOM Survey</name>
    <description>DISCOM Feeder Survey Pro Enterprise Edition</description>
    <author email="survey@discom.in">DISCOM Survey Team</author>

    <content src="index.html" />

    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="ScrollEnabled" value="false" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="34" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />

    <plugin name="cordova-plugin-file" spec="^8.0.0" />
    <plugin name="cordova-plugin-geolocation" spec="^5.0.0" />

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>
    </platform>
</widget>
